version: "3.9"

services:
  backend:
    build: ./backend
    container_name: news-backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: news-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
